@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html,
body {
  font-family: "Nunito", sans-serif;
}

.container {
  background-color: rgb(211, 211, 211);
  max-width: 100vh;
  margin: 30px auto;
  overflow: auto;
  min-height: 80vh;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
